<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.FundbookExtMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.entity.Fundbook" >
    <id column="BookId" property="bookid" jdbcType="BIGINT" />
    <result column="EntryId" property="entryid" jdbcType="BIGINT" />
    <result column="PlatformRole" property="platformrole" jdbcType="INTEGER" />
    <result column="EntryUserRole" property="entryuserrole" jdbcType="INTEGER" />
    <result column="AccBookNumber" property="accbooknumber" jdbcType="INTEGER" />
    <result column="EntryNumber" property="entrynumber" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="AreaCode" property="areacode" jdbcType="INTEGER" />
    <result column="InvoiceNumber" property="invoicenumber" jdbcType="VARCHAR" />
    <result column="HappenTime" property="happentime" jdbcType="BIGINT" />
    <result column="Goods" property="goods" jdbcType="DECIMAL" />
    <result column="Money" property="money" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="Base_Column_List" >
    BookId, EntryId, PlatformRole, EntryUserRole, AccBookNumber, EntryNumber, UserId, 
    AreaCode, InvoiceNumber, HappenTime, Goods, Money, Balance
  </sql>


  <sql id="Where_Clause">
    <where>
      <if test="fundbook.platformrole != null ">
       AND  PlatformRole=#{fundbook.platformrole}
      </if>

      <if test="fundbook.entryuserrole != null ">
        AND EntryUserRole=#{fundbook.entryuserrole}
      </if>

      <if test="fundbook.accbooknumber != null ">
        AND AccBookNumber=#{fundbook.accbooknumber}
      </if>

      <if test="fundbook.bookid != null ">
        AND BookId = #{fundbook.bookid}
      </if>

      <if test=" fundbook.userid != null ">
        AND UserId = #{fundbook.userid}
      </if>
      <if test="startTime!=null and startTime !=0">
         AND      HappenTime <![CDATA[ >= ]]>  #{startTime}
      </if>

      <if test="endTime!=null and endTime !=0">
        AND  HappenTime  <![CDATA[ <= ]]> #{endTime}

      </if>

    </where>
  </sql>



  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="map" >
    select
      <include refid="Base_Column_List" />
    from ${tableName}
      <include refid="Where_Clause" />
      <if test="!lastData">
         ORDER  BY UserId,HappenTime  ASC
      </if>

    --  是否查询最后一条
    <if test="lastData">
      ORDER  BY UserId,HappenTime DESC limit 0,1
    </if>

  </select>

  <select id="countByExample" parameterType="map" resultType="java.lang.Integer" >
    select count(*) from ${tableName}
    <if test="_parameter != null" >
      <include refid="Where_Clause" />
    </if>
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="map" >

      update ${tableName}
      <set >
        <if test="fundbook.entryid != null" >
          EntryId = #{fundbook.entryid,jdbcType=BIGINT},
        </if>
        <if test="fundbook.platformrole != null" >
          PlatformRole = #{fundbook.platformrole,jdbcType=INTEGER},
        </if>
        <if test="fundbook.entryuserrole != null" >
          EntryUserRole = #{fundbook.entryuserrole,jdbcType=INTEGER},
        </if>
        <if test="fundbook.accbooknumber != null" >
          AccBookNumber = #{fundbook.accbooknumber,jdbcType=INTEGER},
        </if>
        <if test="fundbook.entrynumber != null" >
          EntryNumber = #{fundbook.entrynumber,jdbcType=VARCHAR},
        </if>
        <if test="fundbook.userid != null" >
          UserId = #{fundbook.userid,jdbcType=INTEGER},
        </if>
        <if test="fundbook.areacode != null" >
          AreaCode = #{fundbook.areacode,jdbcType=INTEGER},
        </if>
        <if test="fundbook.invoicenumber != null" >
          InvoiceNumber = #{fundbook.invoicenumber,jdbcType=VARCHAR},
        </if>
        <if test="fundbook.happentime != null" >
          HappenTime = #{fundbook.happentime,jdbcType=BIGINT},
        </if>
        <if test="fundbook.goods != null" >
          Goods = #{fundbook.goods,jdbcType=DECIMAL},
        </if>
        <if test="fundbook.money != null" >
          Money = #{fundbook.money,jdbcType=DECIMAL},
        </if>
        <if test="fundbook.balance != null" >
          Balance = #{fundbook.balance,jdbcType=DECIMAL},
        </if>
      </set>
      where BookId = #{fundbook.bookid,jdbcType=BIGINT}


  </update>


  <update id="batchUpdateByPrimaryKeySelective" parameterType="map" >

    update ${tableName}
     SET Balance = CASE  BookId
    <foreach collection="fundbooks" item="fundbook" index="index" open="" close=" " separator=" ">
          WHEN  #{fundbook.bookid,jdbcType=BIGINT} THEN #{fundbook.balance,jdbcType=DECIMAL}
    </foreach>
    END
    WHERE  BookId IN
    <foreach collection="fundbooks" item="fundbook" index="index" open="(" close=")" separator=",">
        #{fundbook.bookid,jdbcType=BIGINT}
    </foreach>

  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map">
      SELECT
        <include refid="Base_Column_List"/>
      FROM ${tableName}

      where BookId = #{bookid,jdbcType=BIGINT}

  </select>




</mapper>