<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.FundbookdayMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.entity.Fundbookday" >
    <result column="Id" property="id" jdbcType="BIGINT" />
    <result column="BookId" property="bookid" jdbcType="BIGINT" />
    <result column="PlatformRole" property="platformrole" jdbcType="INTEGER" />
    <result column="EntryUserRole" property="entryuserrole" jdbcType="INTEGER" />
    <result column="AccBookNumber" property="accbooknumber" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="AreaCode" property="areacode" jdbcType="INTEGER" />
    <result column="BookDate" property="bookdate" jdbcType="INTEGER" />
    <result column="PrevBalance" property="prevbalance" jdbcType="DECIMAL" />
    <result column="HappenDebit" property="happendebit" jdbcType="DECIMAL" />
    <result column="HappenCredit" property="happencredit" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, BookId, PlatformRole, EntryUserRole, AccBookNumber, UserId, AreaCode, BookDate, 
    PrevBalance, HappenDebit, HappenCredit, Balance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yjy.entity.FundbookdayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fundbookday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yjy.entity.FundbookdayExample" >
    delete from fundbookday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.yjy.entity.Fundbookday" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fundbookday
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        BookId,
      </if>
      <if test="platformrole != null" >
        PlatformRole,
      </if>
      <if test="entryuserrole != null" >
        EntryUserRole,
      </if>
      <if test="accbooknumber != null" >
        AccBookNumber,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="areacode != null" >
        AreaCode,
      </if>
      <if test="bookdate != null" >
        BookDate,
      </if>
      <if test="prevbalance != null" >
        PrevBalance,
      </if>
      <if test="happendebit != null" >
        HappenDebit,
      </if>
      <if test="happencredit != null" >
        HappenCredit,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=BIGINT},
      </if>
      <if test="platformrole != null" >
        #{platformrole,jdbcType=INTEGER},
      </if>
      <if test="entryuserrole != null" >
        #{entryuserrole,jdbcType=INTEGER},
      </if>
      <if test="accbooknumber != null" >
        #{accbooknumber,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=INTEGER},
      </if>
      <if test="bookdate != null" >
        #{bookdate,jdbcType=INTEGER},
      </if>
      <if test="prevbalance != null" >
        #{prevbalance,jdbcType=DECIMAL},
      </if>
      <if test="happendebit != null" >
        #{happendebit,jdbcType=DECIMAL},
      </if>
      <if test="happencredit != null" >
        #{happencredit,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjy.entity.FundbookdayExample" resultType="java.lang.Integer" >
    select count(*) from fundbookday
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fundbookday
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bookid != null" >
        BookId = #{record.bookid,jdbcType=BIGINT},
      </if>
      <if test="record.platformrole != null" >
        PlatformRole = #{record.platformrole,jdbcType=INTEGER},
      </if>
      <if test="record.entryuserrole != null" >
        EntryUserRole = #{record.entryuserrole,jdbcType=INTEGER},
      </if>
      <if test="record.accbooknumber != null" >
        AccBookNumber = #{record.accbooknumber,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.areacode != null" >
        AreaCode = #{record.areacode,jdbcType=INTEGER},
      </if>
      <if test="record.bookdate != null" >
        BookDate = #{record.bookdate,jdbcType=INTEGER},
      </if>
      <if test="record.prevbalance != null" >
        PrevBalance = #{record.prevbalance,jdbcType=DECIMAL},
      </if>
      <if test="record.happendebit != null" >
        HappenDebit = #{record.happendebit,jdbcType=DECIMAL},
      </if>
      <if test="record.happencredit != null" >
        HappenCredit = #{record.happencredit,jdbcType=DECIMAL},
      </if>
      <if test="record.balance != null" >
        Balance = #{record.balance,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fundbookday
    set Id = #{record.id,jdbcType=BIGINT},
      BookId = #{record.bookid,jdbcType=BIGINT},
      PlatformRole = #{record.platformrole,jdbcType=INTEGER},
      EntryUserRole = #{record.entryuserrole,jdbcType=INTEGER},
      AccBookNumber = #{record.accbooknumber,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=INTEGER},
      AreaCode = #{record.areacode,jdbcType=INTEGER},
      BookDate = #{record.bookdate,jdbcType=INTEGER},
      PrevBalance = #{record.prevbalance,jdbcType=DECIMAL},
      HappenDebit = #{record.happendebit,jdbcType=DECIMAL},
      HappenCredit = #{record.happencredit,jdbcType=DECIMAL},
      Balance = #{record.balance,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>