<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.FundbookExtMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.entity.Fundbook" >
    <id column="BookId" property="bookid" jdbcType="BIGINT" />
    <result column="EntryId" property="entryid" jdbcType="BIGINT" />
    <result column="EntryNumber" property="entrynumber" jdbcType="VARCHAR" />
    <result column="BookCode" property="bookcode" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="AreaCode" property="areacode" jdbcType="INTEGER" />
    <result column="InvoiceNumber" property="invoicenumber" jdbcType="VARCHAR" />
    <result column="HappenTime" property="happentime" jdbcType="BIGINT" />
    <result column="Debit" property="debit" jdbcType="DECIMAL" />
    <result column="Credit" property="credit" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="Base_Column_List" >
   BookId, EntryId, EntryNumber, BookCode, UserId, AreaCode, InvoiceNumber, HappenTime,
    Debit, Credit, Balance
  </sql>


  <sql id="Where_Clause">
    <where>
      <if test="fundbook!=null and fundbook.bookcode != null ">
       AND  BookCode=#{fundbook.bookcode}
      </if>

      <if test="fundbook!=null and fundbook.bookid != null ">
        AND BookId = #{fundbook.bookid}
      </if>

      <if test="fundbook!=null and  fundbook.userid != null">
        AND UserId = #{fundbook.userid}
      </if>
      <if test=" startTime !=0">
         AND HappenTime &gt;=  #{startTime}
      </if>

      <if test=" endTime !=0">
        AND  HappenTime  &lt;= #{endTime}
      </if>

    </where>
  </sql>



  <select id="selectByExample" resultMap="BaseResultMap" parameterType="map" >
    select
      <include refid="Base_Column_List" />
    from ${tableName}
      <include refid="Where_Clause" />
      <if test="!lastData">
         ORDER  BY UserId,HappenTime  ASC
      </if>
    <if test="lastData">
      ORDER  BY UserId,HappenTime DESC limit 0,1
    </if>

  </select>



  <update id="batchUpdateByPrimaryKeySelective" parameterType="map" >

    update ${tableName}
     SET Balance = CASE  BookId
          <foreach collection="fundbooks" item="fundbook" index="index" open="" close=" " separator=" ">
                WHEN  #{fundbook.bookid,jdbcType=BIGINT} THEN #{fundbook.balance,jdbcType=DECIMAL}
          </foreach>
          END
    WHERE  BookId IN
    <foreach collection="fundbooks" item="fundbook" index="index" open="(" close=")" separator=",">
        #{fundbook.bookid,jdbcType=BIGINT}
    </foreach>

  </update>

  <select id="selectByOneDay">
    select
    <include refid="Base_Column_List" />
        from  ${tableName}
     <where>
       <if test="userid !=0">
         UserId =#{userid}
       </if>
        <if test="bookcode!=null">
          BookCode=#{bookcode}
        </if>
       <if test=" startTime !=0">
         AND HappenTime &gt;=  #{startTime}
       </if>

       <if test=" endTime !=0">
         AND  HappenTime  &lt; #{endTime}
       </if>
       <if test="lastData">
         ORDER  BY UserId,HappenTime DESC limit 0,1
       </if>
     </where>


  </select>

  <select id="selectUserids" resultType="java.lang.Integer" parameterType="map">
    select
     userid
    from  ${tableName}
     GROUP by userid;

  </select>

  <select id="selectBookcodes" resultType="java.lang.String" parameterType="map">
    select
    bookcode
    from  ${tableName} where userid=#{userid}
    GROUP by bookcode;

  </select>


</mapper>