<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.FundbookdayExtMapper">
    <resultMap id="BaseResultMap" type="com.yjy.entity.Fundbookday">
        <id column="Id" property="id" jdbcType="BIGINT"/>
        <result column="BookId" property="bookid" jdbcType="BIGINT"/>
        <result column="BookCode" property="bookcode" jdbcType="VARCHAR"/>
        <result column="UserId" property="userid" jdbcType="INTEGER"/>
        <result column="AreaCode" property="areacode" jdbcType="INTEGER"/>
        <result column="BookDate" property="bookdate" jdbcType="INTEGER"/>
        <result column="PrevBalance" property="prevbalance" jdbcType="DECIMAL"/>
        <result column="HappenDebit" property="happendebit" jdbcType="DECIMAL"/>
        <result column="HappenCredit" property="happencredit" jdbcType="DECIMAL"/>
        <result column="Balance" property="balance" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
   Id, BookId, BookCode, UserId, AreaCode, BookDate, PrevBalance, HappenDebit, HappenCredit,
    Balance
  </sql>

    <sql id="Example_Where_Clause">
        <where>
            <if test="fundbookday!=null and fundbookday.bookdate != null">
                AND BookDate=#{fundbookday.bookdate}
            </if>
            <if test="fundbookday!=null and fundbookday.userid != null">
                AND userid=#{fundbookday.userid}
            </if>
            <if test="fundbookday!=null and fundbookday.bookcode != null">
                AND bookcode=#{fundbookday.bookcode}
            </if>
        </where>
    </sql>


    <select id="selectByExample" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from ${tablename}
        <include refid="Example_Where_Clause"/>
    </select>


    <delete id="deleteFundbookDay" parameterType="map">
        DELETE FROM ${tablename}
        <where>

            <if test="fundBookCodes !=null and fundBookCodes.size()!=0">
                AND BookCode IN
                <foreach collection="fundBookCodes" open="(" close=")" item="fundBookCode" separator=",">
                    #{fundBookCode.bookcode}
                </foreach>
            </if>

            <if test="users != null and users.size() !=0">
                AND userid IN
                <foreach collection="users"  open="(" close=")" item="user" separator=",">
                    #{user.userid}
                </foreach>
            </if>
            <if test=" startTime!=0">
                AND BookDate &gt;= #{startTime}
            </if>
            <if test=" endTime!=0">
                AND BookDate &lt;= #{endTime}
            </if>
        </where>
    </delete>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO ${tablename} ( BookCode, UserId, AreaCode, BookDate,PrevBalance, HappenDebit, HappenCredit, Balance)
        VALUES <foreach collection="fundbookdays" item="fundbookday" open="" close="" separator=",">
            (#{fundbookday.bookcode},
            #{fundbookday.userid},
            #{fundbookday.areacode},
            #{fundbookday.bookdate},
            #{fundbookday.prevbalance},
            #{fundbookday.happendebit},
            #{fundbookday.happencredit},
            #{fundbookday.balance})
           </foreach>

    </insert>

    <select id="sumMonthByBookcode" resultType="com.yjy.repository.dto.SumMonthByBookcode" parameterType="map">
        select
        userid,sum(happendebit) debit,sum(happencredit) credit,bookcode
        from ${tablename}
         where bookcode=#{bookcode} group by userid;
    </select>

    <select id="getSumMonthGroupBookcodeWhereUserid" resultType="com.yjy.repository.dto.SumMonthByBookcode" parameterType="map">
        select
        bookcode,sum(happendebit) debit,sum(happencredit) credit,userid
        from ${tablename}
         where userid=#{userid} group by bookcode;
    </select>


    <select id="selectByExample2" resultMap="BaseResultMap" parameterType="map" >
        select
        <include refid="Base_Column_List" />
        from ${tableName}
        <include refid="Example_Where_Clause" />
        <if test="!lastData">
            ORDER  BY UserId,BookCode,BookDate
        </if>
        <if test="lastData">
            ORDER  BY UserId,BookCode,BookDate DESC limit 0,1
        </if>

    </select>

    <delete id="deleteAll" parameterType="map">
        TRUNCATE TABLE ${tableName}
    </delete>


</mapper>