<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.report.ext.FundsWriteBackExtMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.common.entity.report.FundsWriteBack" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="InvoiceType" property="invoicetype" jdbcType="TINYINT" />
    <result column="ParentId" property="parentid" jdbcType="INTEGER" />
    <result column="InvoiceNumber" property="invoicenumber" jdbcType="VARCHAR" />
    <result column="BuyerId" property="buyerid" jdbcType="INTEGER" />
    <result column="Buyer_CompanyName" property="buyerCompanyname" jdbcType="VARCHAR" />
    <result column="Buyer_LinkMan" property="buyerLinkman" jdbcType="VARCHAR" />
    <result column="SalerId" property="salerid" jdbcType="INTEGER" />
    <result column="HappenTime" property="happentime" jdbcType="BIGINT" />
    <result column="TotalGoodsPrice" property="totalgoodsprice" jdbcType="DECIMAL" />
    <result column="TotalPostPrice" property="totalpostprice" jdbcType="DECIMAL" />
    <result column="AccGoodsPrice" property="accgoodsprice" jdbcType="DECIMAL" />
    <result column="AccPostPrice" property="accpostprice" jdbcType="DECIMAL" />
    <result column="RedPacketGoodsPrice" property="redpacketgoodsprice" jdbcType="DECIMAL" />
    <result column="RedPacketPostPrice" property="redpacketpostprice" jdbcType="DECIMAL" />
    <result column="PlatformCouponPrice" property="platformcouponprice" jdbcType="DECIMAL" />
    <result column="SalerCouponPrice" property="salercouponprice" jdbcType="DECIMAL" />
    <result column="SalerSpecialPrice" property="salerspecialprice" jdbcType="DECIMAL" />
    <result column="SalerAgioPrice" property="saleragioprice" jdbcType="DECIMAL" />
    <result column="SalerFullAmount" property="salerfullamount" jdbcType="DECIMAL" />
    <result column="SalerChangeGoodsPrice" property="salerchangegoodsprice" jdbcType="DECIMAL" />
    <result column="SalerChangePostPrice" property="salerchangepostprice" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="fundsWriteBack !=null and fundsWriteBack.invoicenumber != null and fundsWriteBack.invoicenumber !='' ">
        AND (InvoiceNumber = #{fundsWriteBack.invoicenumber}
          OR Buyer_CompanyName LIKE "%"#{fundsWriteBack.buyerCompanyname}"%"
          OR Buyer_LinkMan LIKE "%"#{fundsWriteBack.buyerLinkman}"%"
        )
      </if>


      <if test="fundsWriteBack !=null and fundsWriteBack.parentid != 0">
        AND parentid = #{fundsWriteBack.parentid}
      </if>

      <if test="fundsWriteBack !=null and fundsWriteBack.salerid != 0">
        AND SalerId = #{fundsWriteBack.salerid}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, InvoiceType, ParentId, InvoiceNumber, BuyerId, Buyer_CompanyName, Buyer_LinkMan, 
    SalerId, HappenTime, TotalGoodsPrice, TotalPostPrice, AccGoodsPrice, AccPostPrice, 
    RedPacketGoodsPrice, RedPacketPostPrice, PlatformCouponPrice, SalerCouponPrice, SalerSpecialPrice, 
    SalerAgioPrice, SalerFullAmount, SalerChangeGoodsPrice, SalerChangePostPrice, Balance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yjy.common.entity.report.FundsWriteBack" >
    select
    
    <include refid="Base_Column_List" />
    from reportsaleronlinefundstored
     
      <include refid="Example_Where_Clause" />

    ORDER  BY InvoiceNumber
  </select>


  <select id="sumByExample" resultMap="BaseResultMap" parameterType="com.yjy.common.entity.report.FundsWriteBack" >
    select
    sum(TotalGoodsPrice) TotalGoodsPrice, sum(TotalPostPrice) TotalPostPrice,sum(AccGoodsPrice) AccGoodsPrice,sum(AccPostPrice) AccPostPrice,
    sum(RedPacketGoodsPrice) RedPacketGoodsPrice,sum(RedPacketPostPrice) RedPacketPostPrice,sum(PlatformCouponPrice) PlatformCouponPrice,sum(SalerCouponPrice) SalerCouponPrice,sum(SalerSpecialPrice) SalerSpecialPrice,
    sum( SalerAgioPrice) SalerAgioPrice,sum(SalerFullAmount) SalerFullAmount ,sum(SalerChangeGoodsPrice) SalerChangeGoodsPrice,sum(SalerChangePostPrice) SalerChangePostPrice,sum(Balance) Balance

    from reportsaleronlinefundstored

      <include refid="Example_Where_Clause" />


  </select>
   
  <select id="countByExample" parameterType="com.yjy.common.entity.report.FundsWriteBack" resultType="java.lang.Integer" >
    select count(*) from reportsaleronlinefundstored
   
      <include refid="Example_Where_Clause" />
     
  </select>
  
</mapper>