<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.fundbook.FundbookdayExtMapper">
    <resultMap id="BaseResultMap" type="com.yjy.common.entity.fundbook.Fundbookday">
        <id column="Id" property="id" jdbcType="BIGINT"/>
        <result column="BookId" property="bookid" jdbcType="BIGINT"/>
        <result column="BookCode" property="bookcode" jdbcType="VARCHAR"/>
        <result column="UserId" property="userid" jdbcType="INTEGER"/>
        <result column="AreaCode" property="areacode" jdbcType="INTEGER"/>
        <result column="BookDate" property="bookdate" jdbcType="INTEGER"/>
        <result column="PrevBalance" property="prevbalance" jdbcType="DECIMAL"/>
        <result column="HappenDebit" property="happendebit" jdbcType="DECIMAL"/>
        <result column="HappenCredit" property="happencredit" jdbcType="DECIMAL"/>
        <result column="Balance" property="balance" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
   Id, BookId, BookCode, UserId, AreaCode, BookDate, PrevBalance, HappenDebit, HappenCredit,
    Balance
  </sql>

    <sql id="Example_Where_Clause">
        <where>
            <if test="fundbookday!=null and fundbookday.bookdate != null">
                AND BookDate=#{fundbookday.bookdate}
            </if>
            <if test="fundbookday!=null and fundbookday.userid != null">
                AND userid=#{fundbookday.userid}
            </if>
            <if test="fundbookday!=null and fundbookday.bookcode != null">
                AND bookcode=#{fundbookday.bookcode}
            </if>
        </where>
    </sql>


    <select id="selectByExample" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from ${tablename}
        <where>
            <if test="fundbookday!=null and fundbookday.bookdate != null">
                AND BookDate=#{fundbookday.bookdate}
            </if>
            <if test="fundbookday!=null and fundbookday.userid != null">
                AND userid=#{fundbookday.userid}
            </if>
            <if test="fundbookday!=null and fundbookday.bookcode != null">
                AND bookcode=#{fundbookday.bookcode}
            </if>
            <if test="userids!=null and userids.size>0">
              AND  userid in
                <foreach collection="userids" item="userid" separator="," open="(" close=")">
                    #{userid}
                </foreach>
            </if>
        </where>
    </select>


     <select id="getBalance" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from ${tablename}
        <where>

            <if test="userids!=null and userids.size>0">
              AND  userid in
                <foreach collection="userids" item="userid" separator="," open="(" close=")">
                    #{userid}
                </foreach>
            </if>
            AND Balance != 0
        </where>
    </select>





    <delete id="deleteFundbookDay" parameterType="map">
        DELETE FROM ${tablename}
        <where>

            <if test="fundBookCodes !=null and fundBookCodes.size()!=0">
                AND BookCode IN
                <foreach collection="fundBookCodes" open="(" close=")" item="fundBookCode" separator=",">
                    #{fundBookCode.bookcode}
                </foreach>
            </if>

            <if test="users != null and users.size() !=0">
                AND userid IN
                <foreach collection="users"  open="(" close=")" item="user" separator=",">
                    #{user.userid}
                </foreach>
            </if>
            <if test=" startTime!=0">
                AND BookDate &gt;= #{startTime}
            </if>
            <if test=" endTime!=0">
                AND BookDate &lt;= #{endTime}
            </if>
        </where>
    </delete>

    <insert id="batchInsert" parameterType="map">
        INSERT INTO ${tablename} ( BookCode, UserId, AreaCode, BookDate,PrevBalance, HappenDebit, HappenCredit, Balance)
        VALUES <foreach collection="fundbookdays" item="fundbookday" open="" close="" separator=",">
            (#{fundbookday.bookcode},
            #{fundbookday.userid},
            #{fundbookday.areacode},
            #{fundbookday.bookdate},
            #{fundbookday.prevbalance},
            #{fundbookday.happendebit},
            #{fundbookday.happencredit},
            #{fundbookday.balance})
           </foreach>

    </insert>

    <select id="sumMonthByBookcode" resultType="com.yjy.repository.dto.SumMonthByBookcode" parameterType="map">
        select
        userid,sum(happendebit) debit,sum(happencredit) credit,bookcode
        from ${tablename}
         where bookcode=#{bookcode} group by userid;
    </select>

    <select id="getSumMonthGroupBookcodeWhereUserid" resultType="com.yjy.repository.dto.SumMonthByBookcode" parameterType="map">
        select
        bookcode,sum(happendebit) debit,sum(happencredit) credit,userid
        from ${tablename}
         where userid=#{userid} group by bookcode;
    </select>

    <delete id="deleteAll" parameterType="map">
        TRUNCATE TABLE ${tableName}
    </delete>


    <update id="deleteAndCreateTable" parameterType="map">
        DROP TABLE IF EXISTS ${tableName};
       CREATE TABLE ${tableName} (
          `Id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT '自动编号',
          `BookId` bigint(20) NOT NULL DEFAULT '0' COMMENT '账本编号',
          `BookCode` varchar(255) NOT NULL COMMENT '科目编号与科目编号之间用 - 分隔',
          `UserId` int(11) NOT NULL DEFAULT '0' COMMENT '会员编号',
          `AreaCode` int(11) NOT NULL DEFAULT '0' COMMENT '区域',
          `BookDate` int(11) NOT NULL DEFAULT '0' COMMENT '日期 格式:yyyyMMdd',
          `PrevBalance` decimal(14,2) NOT NULL DEFAULT '0.00' COMMENT '上期余额',
          `HappenDebit` decimal(14,2) NOT NULL DEFAULT '0.00' COMMENT '本期发生-借方',
          `HappenCredit` decimal(14,2) NOT NULL DEFAULT '0.00' COMMENT '本期发生-贷方',
          `Balance` decimal(14,2) NOT NULL DEFAULT '0.00' COMMENT '余额',
          PRIMARY KEY (`Id`),
          KEY `Index_BookDate` (`BookDate`),
          KEY `Index_UserId` (`UserId`),
          KEY `Index_BookCode` (`BookCode`),
          KEY `Index_BookId` (`BookId`)
        ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8 COMMENT='资金业务日清账本'

    </update>

    <select id="sumThisMonth"  parameterType="map" resultMap="BaseResultMap">
        SELECT  sum(HappenDebit) HappenDebit,sum(HappenCredit) HappenCredit from
        <foreach collection="tableNames"  open="(" close=")" item="tablename" separator="union all">
            SELECT sum(HappenDebit) HappenDebit,sum(HappenCredit) HappenCredit from ${tablename}
        </foreach>
          as aa
    </select>

    <select id="getBySql"  parameterType="map" resultMap="BaseResultMap">
         ${sql}
    </select>

</mapper>