<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.report.FundsMonthMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.common.entity.report.FundsMonth" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="CurYear" property="curyear" jdbcType="INTEGER" />
    <result column="CurMonth" property="curmonth" jdbcType="INTEGER" />
    <result column="SalerId" property="salerid" jdbcType="INTEGER" />
    <result column="PrevBalance" property="prevbalance" jdbcType="DECIMAL" />
    <result column="CurReceiptPrice" property="curreceiptprice" jdbcType="DECIMAL" />
    <result column="CurRedPrice" property="curredprice" jdbcType="DECIMAL" />
    <result column="CurMarkupPrice" property="curmarkupprice" jdbcType="DECIMAL" />
    <result column="CurSettlePrice" property="cursettleprice" jdbcType="DECIMAL" />
    <result column="CurBalance" property="curbalance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, CurYear, CurMonth, SalerId, PrevBalance, CurReceiptPrice, CurRedPrice, CurMarkupPrice, 
    CurSettlePrice, CurBalance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yjy.common.entity.report.FundsMonthExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reportsaleronlinefundstomonth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yjy.common.entity.report.FundsMonthExample" >
    delete from reportsaleronlinefundstomonth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.yjy.common.entity.report.FundsMonth" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reportsaleronlinefundstomonth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="curyear != null" >
        CurYear,
      </if>
      <if test="curmonth != null" >
        CurMonth,
      </if>
      <if test="salerid != null" >
        SalerId,
      </if>
      <if test="prevbalance != null" >
        PrevBalance,
      </if>
      <if test="curreceiptprice != null" >
        CurReceiptPrice,
      </if>
      <if test="curredprice != null" >
        CurRedPrice,
      </if>
      <if test="curmarkupprice != null" >
        CurMarkupPrice,
      </if>
      <if test="cursettleprice != null" >
        CurSettlePrice,
      </if>
      <if test="curbalance != null" >
        CurBalance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="curyear != null" >
        #{curyear,jdbcType=INTEGER},
      </if>
      <if test="curmonth != null" >
        #{curmonth,jdbcType=INTEGER},
      </if>
      <if test="salerid != null" >
        #{salerid,jdbcType=INTEGER},
      </if>
      <if test="prevbalance != null" >
        #{prevbalance,jdbcType=DECIMAL},
      </if>
      <if test="curreceiptprice != null" >
        #{curreceiptprice,jdbcType=DECIMAL},
      </if>
      <if test="curredprice != null" >
        #{curredprice,jdbcType=DECIMAL},
      </if>
      <if test="curmarkupprice != null" >
        #{curmarkupprice,jdbcType=DECIMAL},
      </if>
      <if test="cursettleprice != null" >
        #{cursettleprice,jdbcType=DECIMAL},
      </if>
      <if test="curbalance != null" >
        #{curbalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjy.common.entity.report.FundsMonthExample" resultType="java.lang.Integer" >
    select count(*) from reportsaleronlinefundstomonth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reportsaleronlinefundstomonth
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.curyear != null" >
        CurYear = #{record.curyear,jdbcType=INTEGER},
      </if>
      <if test="record.curmonth != null" >
        CurMonth = #{record.curmonth,jdbcType=INTEGER},
      </if>
      <if test="record.salerid != null" >
        SalerId = #{record.salerid,jdbcType=INTEGER},
      </if>
      <if test="record.prevbalance != null" >
        PrevBalance = #{record.prevbalance,jdbcType=DECIMAL},
      </if>
      <if test="record.curreceiptprice != null" >
        CurReceiptPrice = #{record.curreceiptprice,jdbcType=DECIMAL},
      </if>
      <if test="record.curredprice != null" >
        CurRedPrice = #{record.curredprice,jdbcType=DECIMAL},
      </if>
      <if test="record.curmarkupprice != null" >
        CurMarkupPrice = #{record.curmarkupprice,jdbcType=DECIMAL},
      </if>
      <if test="record.cursettleprice != null" >
        CurSettlePrice = #{record.cursettleprice,jdbcType=DECIMAL},
      </if>
      <if test="record.curbalance != null" >
        CurBalance = #{record.curbalance,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reportsaleronlinefundstomonth
    set Id = #{record.id,jdbcType=BIGINT},
      CurYear = #{record.curyear,jdbcType=INTEGER},
      CurMonth = #{record.curmonth,jdbcType=INTEGER},
      SalerId = #{record.salerid,jdbcType=INTEGER},
      PrevBalance = #{record.prevbalance,jdbcType=DECIMAL},
      CurReceiptPrice = #{record.curreceiptprice,jdbcType=DECIMAL},
      CurRedPrice = #{record.curredprice,jdbcType=DECIMAL},
      CurMarkupPrice = #{record.curmarkupprice,jdbcType=DECIMAL},
      CurSettlePrice = #{record.cursettleprice,jdbcType=DECIMAL},
      CurBalance = #{record.curbalance,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjy.common.entity.report.FundsMonth" >
    update reportsaleronlinefundstomonth
    <set >
      <if test="curyear != null" >
        CurYear = #{curyear,jdbcType=INTEGER},
      </if>
      <if test="curmonth != null" >
        CurMonth = #{curmonth,jdbcType=INTEGER},
      </if>
      <if test="salerid != null" >
        SalerId = #{salerid,jdbcType=INTEGER},
      </if>
      <if test="prevbalance != null" >
        PrevBalance = #{prevbalance,jdbcType=DECIMAL},
      </if>
      <if test="curreceiptprice != null" >
        CurReceiptPrice = #{curreceiptprice,jdbcType=DECIMAL},
      </if>
      <if test="curredprice != null" >
        CurRedPrice = #{curredprice,jdbcType=DECIMAL},
      </if>
      <if test="curmarkupprice != null" >
        CurMarkupPrice = #{curmarkupprice,jdbcType=DECIMAL},
      </if>
      <if test="cursettleprice != null" >
        CurSettlePrice = #{cursettleprice,jdbcType=DECIMAL},
      </if>
      <if test="curbalance != null" >
        CurBalance = #{curbalance,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>