<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjy.repository.mapper.report.GoodsRefundPostMapper" >
  <resultMap id="BaseResultMap" type="com.yjy.common.entity.report.GoodsRefundPost" >
    <id column="Id" property="id" jdbcType="BIGINT" />
    <result column="InvoiceType" property="invoicetype" jdbcType="TINYINT" />
    <result column="ParentId" property="parentid" jdbcType="INTEGER" />
    <result column="InvoiceNumber" property="invoicenumber" jdbcType="VARCHAR" />
    <result column="BuyerId" property="buyerid" jdbcType="INTEGER" />
    <result column="Buyer_CompanyName" property="buyerCompanyname" jdbcType="VARCHAR" />
    <result column="Buyer_LinkMan" property="buyerLinkman" jdbcType="VARCHAR" />
    <result column="SalerId" property="salerid" jdbcType="INTEGER" />
    <result column="HappenTime" property="happentime" jdbcType="BIGINT" />
    <result column="TotalPostPrice" property="totalpostprice" jdbcType="DECIMAL" />
    <result column="AccReturnPostPrice" property="accreturnpostprice" jdbcType="DECIMAL" />
    <result column="RedpacketReturnPostPrice" property="redpacketreturnpostprice" jdbcType="DECIMAL" />
    <result column="ChangePostPrice" property="changepostprice" jdbcType="DECIMAL" />
    <result column="Balance" property="balance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, InvoiceType, ParentId, InvoiceNumber, BuyerId, Buyer_CompanyName, Buyer_LinkMan, 
    SalerId, HappenTime, TotalPostPrice, AccReturnPostPrice, RedpacketReturnPostPrice, 
    ChangePostPrice, Balance
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yjy.common.entity.report.GoodsRefundPostExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from reportsaleronlinegoodstoredrefundpost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yjy.common.entity.report.GoodsRefundPostExample" >
    delete from reportsaleronlinegoodstoredrefundpost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.yjy.common.entity.report.GoodsRefundPost" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into reportsaleronlinegoodstoredrefundpost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invoicetype != null" >
        InvoiceType,
      </if>
      <if test="parentid != null" >
        ParentId,
      </if>
      <if test="invoicenumber != null" >
        InvoiceNumber,
      </if>
      <if test="buyerid != null" >
        BuyerId,
      </if>
      <if test="buyerCompanyname != null" >
        Buyer_CompanyName,
      </if>
      <if test="buyerLinkman != null" >
        Buyer_LinkMan,
      </if>
      <if test="salerid != null" >
        SalerId,
      </if>
      <if test="happentime != null" >
        HappenTime,
      </if>
      <if test="totalpostprice != null" >
        TotalPostPrice,
      </if>
      <if test="accreturnpostprice != null" >
        AccReturnPostPrice,
      </if>
      <if test="redpacketreturnpostprice != null" >
        RedpacketReturnPostPrice,
      </if>
      <if test="changepostprice != null" >
        ChangePostPrice,
      </if>
      <if test="balance != null" >
        Balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invoicetype != null" >
        #{invoicetype,jdbcType=TINYINT},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="invoicenumber != null" >
        #{invoicenumber,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null" >
        #{buyerid,jdbcType=INTEGER},
      </if>
      <if test="buyerCompanyname != null" >
        #{buyerCompanyname,jdbcType=VARCHAR},
      </if>
      <if test="buyerLinkman != null" >
        #{buyerLinkman,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null" >
        #{salerid,jdbcType=INTEGER},
      </if>
      <if test="happentime != null" >
        #{happentime,jdbcType=BIGINT},
      </if>
      <if test="totalpostprice != null" >
        #{totalpostprice,jdbcType=DECIMAL},
      </if>
      <if test="accreturnpostprice != null" >
        #{accreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="redpacketreturnpostprice != null" >
        #{redpacketreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="changepostprice != null" >
        #{changepostprice,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjy.common.entity.report.GoodsRefundPostExample" resultType="java.lang.Integer" >
    select count(*) from reportsaleronlinegoodstoredrefundpost
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update reportsaleronlinegoodstoredrefundpost
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.invoicetype != null" >
        InvoiceType = #{record.invoicetype,jdbcType=TINYINT},
      </if>
      <if test="record.parentid != null" >
        ParentId = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.invoicenumber != null" >
        InvoiceNumber = #{record.invoicenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerid != null" >
        BuyerId = #{record.buyerid,jdbcType=INTEGER},
      </if>
      <if test="record.buyerCompanyname != null" >
        Buyer_CompanyName = #{record.buyerCompanyname,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerLinkman != null" >
        Buyer_LinkMan = #{record.buyerLinkman,jdbcType=VARCHAR},
      </if>
      <if test="record.salerid != null" >
        SalerId = #{record.salerid,jdbcType=INTEGER},
      </if>
      <if test="record.happentime != null" >
        HappenTime = #{record.happentime,jdbcType=BIGINT},
      </if>
      <if test="record.totalpostprice != null" >
        TotalPostPrice = #{record.totalpostprice,jdbcType=DECIMAL},
      </if>
      <if test="record.accreturnpostprice != null" >
        AccReturnPostPrice = #{record.accreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="record.redpacketreturnpostprice != null" >
        RedpacketReturnPostPrice = #{record.redpacketreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="record.changepostprice != null" >
        ChangePostPrice = #{record.changepostprice,jdbcType=DECIMAL},
      </if>
      <if test="record.balance != null" >
        Balance = #{record.balance,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update reportsaleronlinegoodstoredrefundpost
    set Id = #{record.id,jdbcType=BIGINT},
      InvoiceType = #{record.invoicetype,jdbcType=TINYINT},
      ParentId = #{record.parentid,jdbcType=INTEGER},
      InvoiceNumber = #{record.invoicenumber,jdbcType=VARCHAR},
      BuyerId = #{record.buyerid,jdbcType=INTEGER},
      Buyer_CompanyName = #{record.buyerCompanyname,jdbcType=VARCHAR},
      Buyer_LinkMan = #{record.buyerLinkman,jdbcType=VARCHAR},
      SalerId = #{record.salerid,jdbcType=INTEGER},
      HappenTime = #{record.happentime,jdbcType=BIGINT},
      TotalPostPrice = #{record.totalpostprice,jdbcType=DECIMAL},
      AccReturnPostPrice = #{record.accreturnpostprice,jdbcType=DECIMAL},
      RedpacketReturnPostPrice = #{record.redpacketreturnpostprice,jdbcType=DECIMAL},
      ChangePostPrice = #{record.changepostprice,jdbcType=DECIMAL},
      Balance = #{record.balance,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjy.common.entity.report.GoodsRefundPost" >
    update reportsaleronlinegoodstoredrefundpost
    <set >
      <if test="invoicetype != null" >
        InvoiceType = #{invoicetype,jdbcType=TINYINT},
      </if>
      <if test="parentid != null" >
        ParentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="invoicenumber != null" >
        InvoiceNumber = #{invoicenumber,jdbcType=VARCHAR},
      </if>
      <if test="buyerid != null" >
        BuyerId = #{buyerid,jdbcType=INTEGER},
      </if>
      <if test="buyerCompanyname != null" >
        Buyer_CompanyName = #{buyerCompanyname,jdbcType=VARCHAR},
      </if>
      <if test="buyerLinkman != null" >
        Buyer_LinkMan = #{buyerLinkman,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null" >
        SalerId = #{salerid,jdbcType=INTEGER},
      </if>
      <if test="happentime != null" >
        HappenTime = #{happentime,jdbcType=BIGINT},
      </if>
      <if test="totalpostprice != null" >
        TotalPostPrice = #{totalpostprice,jdbcType=DECIMAL},
      </if>
      <if test="accreturnpostprice != null" >
        AccReturnPostPrice = #{accreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="redpacketreturnpostprice != null" >
        RedpacketReturnPostPrice = #{redpacketreturnpostprice,jdbcType=DECIMAL},
      </if>
      <if test="changepostprice != null" >
        ChangePostPrice = #{changepostprice,jdbcType=DECIMAL},
      </if>
      <if test="balance != null" >
        Balance = #{balance,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=BIGINT}
  </update>
</mapper>